.event-container {
    display: flex;
    justify-content: space-around;
    }
    
    .theme {
    width: 150px;
    height: 150px;
    border: 1px solid black
    }
    
    .style {
        margin-top: 100px;
    }
    .img-container {
        text-align: center;
    }