/* General */

/* :root {
  font-size: 16px;
  font-family: raleway , sans-serif;
  --main-bg-color: #fff;
  --main-text-color: rgb(25, 25, 25);
  --nav-bg-color: #38424e;
  --nav-text-color: #fff;
  --title-color: #38424e;
  --subtitle-color: #8e8e8c;
  --subtitle2-color: #F9C9C8;
  --subtitle3-color: #F76C6C;
} */

body {
  /* width: 100vw; */
  height: 100vh;
}

.container {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.nav-container {
  width: 100%;
}

/* Main */

.main {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.main img {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  z-index: -1;
  filter: invert(20%) sepia(50%) contrast(80%) blur(2px);
}


/* Adresse */

.adress-container {
  width: 100%;
  height: 30vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.adress-container h2 {
  margin: 10px 0 10px 15px;
}

.adress-item-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  transform: translateX(-2.5%);
}

.adress-item {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 45%;
}

.adress-item img {
  height: 2rem;
  transform: translateY(35%);
}

.adress-item a {
  text-decoration: none;
  color: var(--main-text-color);
  margin-left: 10px;
}

.adress-item p {
  margin-left: 20px;
  font-size: 0.75rem;
}

/* Map */

.map {
  width: 100%;
  height: 30vh;
}

/* Formulaire de Contact*/

.form-container {
  width: 100%;
  min-height: 40vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  margin-bottom: 10vh;
  padding-top: 15px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.form-items label {
  font-weight: 500;
}

.form-items input {
  height: 30px;
}

.form-items input, .form-items textarea {
  border: var(--subtitle3-color) 2px solid;
  border-radius: 3px;
  padding: 15px;
  font-family: montserrat, sans-serif;
}

.form-submit {
  margin: 5px 0 15px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--subtitle2-color);
  background-color: var(--subtitle3-color);
  color: var(--main-bg-color);
  font-size: 1rem;
  font-weight: 500;
  width: 70px;
  align-self: stretch;
  margin-left: 10%;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border: 1px solid var(--subtitle3-color);
}

.form-submit:active {
  background-color: var(--main-bg-color);
  color: var(--subtitle3-color);
  border: 1px solid var(--subtitle3-color);
}

footer {
  position: relative;
}

/* Responsive */
@media screen and (max-width: 1100px) and (min-width: 780px) {
  .adress-item-container {
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 780px) {

  .main {
    height: 40vh;
  }

  .container {
    flex-direction: row;
    align-items: stretch;
    height: 54vh;
  }

  .adress-container {
    height: 100%;
    background-color: var(--subtitle3-color);
  }

  .adress-container a, .adress-container p {
    font-size: 18px;
    font-weight: 500;
  }


  .map {
    height: 100%;
  }

  .form-container {
    height: 100%;
    order: -1;
  }
}

