

  /*EMPLOI*/
  h2 {
    font-size: 34px;
    font-weight: 500;
    font-family: raleway, sans-serif;
    padding: 20px;
    text-align: center;
    color:white;
    text-shadow: lightgray 1px 1px;
    font-style: italic;
    background-color:#38424e;
    
  }
  
  h3 {
    font-size: 24px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-style: italic;
  }

  h4 {
    text-align: center;
    font-family: raleway, sans-serif;
  }

.flexbox1 {
  display:flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
  }

.valeurs {
  max-width:450px;
  max-height: 530px;
  position: relative;
}



.table-img {
  width:27vw;
  height:100%;
  border-radius: 15px;
}

.read-more {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.opacity {
  opacity: 0.5;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.valeurs > p {
  max-width:400px;
  max-height: 530px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 25px;
  vertical-align: middle;
  padding-top:20px;
  }

.flexbox2 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  flex-direction: row-reverse;
  align-items: center;
  }

select {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  background-color:#F76C6C ;
  color: #fff;
  border-style:none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #38424e;
    }

option {
  background-color: white;
  color:black;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  background-color:#F76C6C ;
  color: #fff;
  border-style:none;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #38424e;
    }

button:hover {
  color: #38424e;
  transition: 0.3s;
  transform: scale(1.1);
}

i {
  padding-right:10px;
  padding-left: 20px;
}

.offres {
  max-width:400px;
  max-height: 200px;
  margin-bottom : 30px;
  padding: 30px;
}

body {
  position: relative;
}

/* MODAL */

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}

.bg-active {
  visibility: visible;
  opacity: 1; 
}

.modal {
  background-color: white;
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center; 
  align-items: space-around;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

input, label {
  padding: 8px;
}

.send-btn {
  margin-top: 8px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}


/*RESPONSIVE*/

@media screen and (max-width: 700px) {
  .table-img {
    width: 80vw;
  }

  .modal {
    width: 100%;
  }
}
