/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 16px;
    font-family: raleway , sans-serif;
    --main-bg-color: #fff;
    --main-text-color: rgb(25, 25, 25);
    --nav-bg-color: #38424e;
    --nav-text-color: #fff;
    --title-color: #38424e;
    --subtitle-color: #8e8e8c;
    --subtitle2-color: #F9C9C8;
    --subtitle3-color: #F76C6C;
  }
  
  
  
  h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    font-family: montserrat,, sans-serif;
  }
  
  h2 {
    font-size: 34px;
    font-weight: 500;
    font-family: raleway, sans-serif;
    padding: 20px;
    text-align: center;
    text-shadow: white 2px 2px 2px;
    background-color: #F76C6C;
    
  }
  
  h3 {
    font-size: 24px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-style: italic;
  }
  
  
  /* NAVBAR */
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    width: 100%;
    background-color: var(--nav-bg-color);
  }
  
  .logo {
    height: 50px;
    margin: 10px 20px;
  }
  
  .logo img {
    width:100%;
    object-fit: cover;
  }
  
  .nav-items-container {
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    margin-right: 10px;
  }
  
  .navbar .item a {
    color: var(--nav-text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
  }

  /*EMPLOI*/


.flexbox1 {
  display:flex;
  justify-content: space-around;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  }

.valeurs {
  max-width:450px;
  max-height: 530px;
}

img {
  width:100%;
  height:100%;
  border-radius: 15px;
}


.valeurs > p {
  max-width:400px;
  max-height: 530px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 25px;
  vertical-align: middle;
  padding-top:20px;
  }

.flexbox2 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  flex-direction: row-reverse;
  }

select {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  background-color:#F76C6C ;
  color: #fff;
  border-style:none;
  border-radius: 10px;
    }

option {
  background-color: white;
  color:black;
}


button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  background-color:#F76C6C ;
  color: #fff;
  border-style:none;
  border-radius: 10px;
    }

i {
  padding-right:50px;
  padding-left: 20px;
}

.offres {
  max-width:400px;
  max-height: 200px;
  padding : 10px;
}
